body {
  margin: 0;
  font-family: OpenSans, Arial, Helvetica, Verdana, sans-serif !important;
  font-size: 16px !important;
  color: #333;
  background-color: #fafafa !important;
}

.button.primary a,
.button.secondary a {
  color: #407ab1;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.button.primary a:hover,
.button.secondary a:hover {
  color: white;
}

a:hover {
  text-decoration: none !important;
}

body .page-wrapper {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  max-width: 1000px;
}

.branch-address {
  font-weight: 100;
  color: #707070 !important;
}

#pageScheduleDetails .button,
#pageScheduleResult .button,
#pageSearch .button,
#pageDelete .button,
#pageDeleteResult .button,
#pageSearchNotFound .button,
#pageError .button {
  width: auto;
}

table {
  width: 100%;
}

#pageScheduleTime .button.secondary,
#pageScheduleDetails .button.secondary,
#pageSearch .button.secondary,
#pageFound .button.secondary,
#pageDelete .button.secondary {
  float: left
}

#pageScheduleDetails .button.primary,
#pageSearch .button.primary,
#pageFound .button.primary,
#pageDelete .button.primary {
  float: right;
}


.input-fields-wrapper {
  width: 100%;
}

.input-field-row .title {
  font-size: 18px;
  color: black;
}

.input-field-row.branch-service {
  border: 1px solid #9a9a9a;
}

.input-field-row #firstSelectControl,
.input-field-row #secondSelectControl,
.input-field-row .select-option {
  border-radius: 0px;
  padding: 16px;
  line-height: 40px !important;
  min-height: 40px;
  font-size: 16px;
  color: #333;
  width: 95%;
  margin: 0;
}

.input-field-row .select-option {
  border: 1px solid #9a9a9a;
  padding: 10px 0 5px 20px;
  margin: 10px auto;
}

.input-field-row form {
  margin: 0;
  text-align: justify;
  display: inline-table;
}

.input-field-row.time {
  text-align: left;
}


.input-field-row input[type="radio"] {
  margin: auto 10px auto 0;
  height: 20px;
  width: 20px;
  border-bottom: 1px solid #c0c0c0;
}

#timeControl {
  display: block;
}

.input-field-row select {
  border-radius: 0;
  border: 1px solid #9a9a9a;
  padding: 5px 0 5px 20px;
  line-height: 40px !important;
  min-height: 50px;
  font-size: 16px;
  margin: 10px auto;
  color: #333;
}

/* .input-field-row.select .select-option {
  width: 350px;
} */

.input-field-row.date .date-title span {
  background-color: white;
  padding: 0 5px;
}

.input-field-row.date {
  position: relative;
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 10px;
}

.input-field-row.date .date-title {
  position: absolute;
  top: -10px;
  z-index: 2;
  text-align: center;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}

#pageScheduleDetails .input-field-row span,
.input-radio-buttons span,
#pageScheduleResult .input-field-row span,
#pageSearch .input-field-row span,
#pageChange .input-field-row span {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  padding-left: 20px;
}

#pageScheduleDetails .input-field-row,
#pageScheduleResult .input-field-row,
#pageSearch .input-field-row,
#pageChange .input-field-row {
  position: relative;
  text-align: left;
  width: 335px;
  margin: auto;
}

.input-radio-buttons span {
  position: relative;
  width: 100%;
}

.input-radio-buttons {
  width: 335px;
  margin: 10px auto;
}

.input-radio-buttons input[type="radio"] {
  margin: auto 10px auto 20px;
  height: 40px;
  padding: 0;
}

#book-warning.text-warning {
  color: #333;
}

#pageScheduleDetails .input-field-row.select span,
#pageSearch .input-field-row.select span {
  padding: 0 10px;
  background-color: white;
  z-index: 1;
  left: 15px;
}

.input-field-row .select-option.selected {
  background-color: #efefef;
  color: rgb(84, 84, 84);
  border-color: #dbdbdb;
}

.input-field-row.select textarea {
  height: 200px;
}

.alert.alert-info {
  margin-top: 20px;
  border-radius: 30px;
}

#pageFound #foundApp th {
  width: 20%;
  text-align: center;
}

/*#pageFound #foundApp th:first-of-type{
    width:10%;
}
#pageFound #foundApp th:last-of-type{
    width:35%;
}*/

#pageFound #foundApp tr {
  width: 100%;
}

.reschedule-buttons {
  margin-top: 40px;
}

#pageFound .button {
  width: 90px;
}

td {
  vertical-align: top;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  margin: 0;
}

td.hidden {
  visibility: hidden;
}

#applicationTitle {
  font-size: 28px;
  margin: 5px 10px 5px 20px;
}

#pageTitle {
  margin: 0;
  font-weight: 600;
  font-size: 1.75em;
  line-height: 1.1em;
  max-width: none;
  position: static;
  padding: 0 0 30px 0;
  margin-top: 5px;
  margin-bottom: 0.67em;
  letter-spacing: 0;
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#errorMessage {
  display: none;
  background-color: #F2DEDE;
  margin: 5px 10px 5px 20px;
  padding: 5px;
  color: #B94A48;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 2px solid #EED3D7;
  z-index: 2;
  position:absolute;
  top:50%;
  left:25% ;
  width:50%;
  height:5%;
}

#processingMessage {
  display: none;
  z-index: 9999;
  background-color: #f8f8f8;
  padding: 5px 80px;
  color: #333333;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 1px solid #333;
  font-size: 16px;
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
  position:relative;
  top: -400px;
  width:30%;
  height:30%;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #407ab1; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 10%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#pageScheduleTimeFooter {
  font-size: 20px;
  padding-top: 2px;
  border-top: solid 1px #EEE;
}

#foundApp td {
  vertical-align: middle;
}

#foundApp th {
  font-weight: bold;
  text-align: left;
}

.result {
  font-weight: bold;
  line-height: 20px;
}

.page {
  display: none;
  padding: 0 50px;
}

table {
  margin: 0 auto;
}

.label {
  font-weight: bold;
}

.button {
  border-radius: 0;
  /*border: 1px solid transparent;*/
  -webkit-transition: all .15s;
  transition: all .15s;

  color: #407ab1;
  box-shadow: inset 0 0 0 1px #407ab1;
  font-size: 16px;
  letter-spacing: .01em;
  padding: 4px 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 600;
  line-height: 50px;
}

.button:hover {
  color: #fff;
  background-color: #0058a3;
}

.button:hover a {
  color: #fff;
}

.buttons a:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
  text-decoration: none !important;
}

.buttons a:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

/*calendar main frame*/

.ui-widget-content {
  width: auto;
  border-radius: 0;
  border: 1px solid #9a9a9a;
  background: #ffffff;
  color: #333333;
  padding: 0 0 10px 0;
}

/* calendar header*/

.page-wrapper #dateControl .ui-widget-header {
  border: none;
  background-color: #0058a3 ;
  color: #ffff;
  border-radius: 0;
}

/*calendar selectable date*/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  height: 36px;
  width: 36px;
  color: black;
  background-color: #FFFF;
  background-image: none;
  border-radius: 30px;
  text-align: center;
  margin: auto;
  line-height: 36px;
  border-color: #0058a3;
}

.ui-datepicker-unselectable .ui-state-default {
  background-color: #ffff;
  color: #555;
}

/*calendar selected date*/

.ui-state-active,
.ui-widget-content .ui-state-active {
  border: none;
  font-weight: bold;
  color: #fff;
  background-color: #0058a3;
}

a.ui-state-default:hover {
  color: #fff;
  background-color: #0058a3;
}

/*calendar current day*/

/*calendar next/previous in header*/

ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
  height: 50px;
  line-height: 50px;
  margin: 0;
}

.ui-datepicker .ui-datepicker-header {
  padding: 0;
}


.ui-datepicker-next .ui-icon.ui-icon-circle-triangle-e {
  background-image: url("images/ic_keyboard_arrow_right_white_24dp_1x.png");
  background-position: center;
}

.ui-datepicker-prev .ui-icon.ui-icon-circle-triangle-w {
  background-image: url("images/ic_keyboard_arrow_left_white_24dp_1x.png");
  background-position: center;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  /* support: IE8; */
  background-image: none;
}

.page-wrapper .hasDatepicker .ui-datepicker .ui-datepicker-next-hover,
.page-wrapper .hasDatepicker .ui-datepicker .ui-datepicker-prev-hover {
  background-color: #275882;
  color: white;
  border-radius: 0;
  cursor: pointer;
  border: none;
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #333;
  background-color: #E6E6E6;
}

@media screen and (max-width: 560px) {
  body .page-wrapper {
    width: 90%;
    padding: 10px;
  }

  .page {
    padding: 0;
  }

  .button,
  #pageFound .button {
    width: 200px;
  }

  #pageFound .button.primary,
  #pageFound .button.secondary,
  #pageFound .button {
    float: none;
  }

  .reschedule-buttons td {
    display: contents;
  }

  #foundApp tbody tr td {
    font-size: 14px;
  }
}
