iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border: none;
}
.iframe-wrapper{
    position: relative;
    max-width: 1200px;
    width: 100%;
    height:100%;
    max-height: 1200px;
    padding-bottom: 69.32%;
    margin: 0 auto;
}
body {
    background-color:#fafafa;
    text-align:center;
}